<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="businessObjects">
        <sectionGroup name="crystalReports">
          <section name="printControl" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
      </sectionGroup>
    </configSections>


  
    <connectionStrings>
        <!--<add name="dbSchedaLavoroBBGConnectionString" connectionString="Data Source=UTENTEBBGSQL-PC\SQLEXPRESS;Initial Catalog=dbSchedaLavoroSviluppo;Persist Security Info=True;User ID=sa;Password=tito"
            providerName="System.Data.SqlClient" />-->
        <add name="dbSchedaLavoroBBGConnectionString"
            connectionString="Data Source=FABLENOVO;Initial Catalog=dbSchedaLavoroSviluppo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <businessObjects>
    <crystalReports>
      <crystalReportViewer>
        <add key="processingIndicatorText" value="Sto Stampando, Grazie per l'attesa."/>
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
</configuration>